name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Mount bazel cache
      uses: actions/cache@v3
      with:
        path: "~/.cache/bazel"
        key: bazel-${{ runner.os }}-${{ hashFiles('**/BUILD.bazel', '**/MODULE.bazel', '**/WORKSPACE') }}
        restore-keys: |
          bazel-${{ runner.os }}-

    - name: Setup Bazelisk
      uses: bazelbuild/setup-bazelisk@v3

    - name: Test BCR
      working-directory: tests/bcr
      run: bazel test //...
